<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adafruit.bluefruit_playground">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 If your app targets Android 9 or lower, you can declare
         ACCESS_COARSE_LOCATION instead.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.adafruit.bluefruit_playground.EnableSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.adafruit.bluefruit_playground.ModuleActivity" />
        <activity
            android:name="com.adafruit.bluefruit_playground.NeopixelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.adafruit.bluefruit_playground.AccelerometerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.adafruit.bluefruit_playground.ButtonsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.adafruit.bluefruit_playground.LightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.adafruit.bluefruit_playground.TemperatureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.adafruit.bluefruit_playground.ModulesListActivity" />
        <activity
            android:name="com.adafruit.bluefruit_playground.ToneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.adafruit.bluefruit_playground.PairingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.adafruit.bluefruit_playground.BluefruitService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.adafruit.bluefruit_playground.MainActivity" />
        <activity android:name="com.adafruit.bluefruit_playground.PermissionActivity" />
    </application>

</manifest>